/* Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Resets and Variables*/
* {
    margin: 0;
    padding: 0;
}

html{
    --white :#d6f5e6;
    --primary-dark: #022709;
    --primary : #034811;
    --semi-primary : #03481180;
    --secondary: #0F8841;
    --tetiary : #1ac770;
    --semi-tetiary: #1ac77080;
    --tetiary-dark: #0f7140d9;
    --background: linear-gradient(#8AE1B5, #0F8841);
    font-family: 'Montserrat', sans-serif;
}    

html, body {
    width: 100%;
    background: var(--background);
}

/* Absolute Container */
.container{   
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: var(--primary);
    margin: 0 5rem;
    box-sizing: border-box;
    height: 5rem;

    /* Box Shadow  */
    box-shadow: 1px 0.75rem 1rem 0 var(--primary-dark);
}
header a {
    font-size: 1.25rem;
    color: var(--white);
    text-decoration: none;
}
header a:hover {
    color: var(--tetiary);
    
}
.head-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 6rem;
    margin: 1rem;
}
.head-logo a{
    color: var(--tetiary);
    font-size: 1.25rem;
    text-decoration: none;
}

.head-nav li{
    display: inline-block;
    padding: 1.5rem;
}

.head-nav i{
    font-size: 1.5rem;
}

/* Solo Page */
#page{
    flex: 0 0 100%;
}
#about p {
    text-align: center;
}
/* Content */

.content{
    padding: 1rem;
    flex: 0 0 50%;
    background: var(--tetiary-dark);
    box-sizing: border-box;
    /* Box Shadow  */
    box-shadow: 1px 0.75rem 1rem 0 var(--primary-dark);
    
}
.content h2, .content p {
    margin: 0.5rem;
    padding: 1.5rem;
}
.content h2 {
    color: var(--white);
    font-size: 1.75rem;
    font-weight: lighter;
}
.content p {
    text-align: justify;
    line-height: 1.25rem;

}

.right-content{
    flex: 0 0 50%;  
    padding: 3rem;
    align-self:flex-start;
    position: sticky;
    top: 0;
    background-color: var(--semi-tetiary);
    box-sizing: border-box;

    /* Box Shadow  */
    box-shadow: 0.2rem 0.75rem 0.75rem 0 var(--primary-dark);
    
}

.right-content p, .right-content h2 {
    padding: 0.5rem;
    color: var(--primary-dark);
}
.right-content h2 {
    font-size: 1.5rem;
}

.album-img{
    margin: 2rem auto;
    background-color: var(--secondary);
    border: 1px solid var(--tetiary);
    filter: drop-shadow(0px 0px 8px rgba(75, 255, 200, 0.25));
    width: 28rem;
    height: 20rem;

}

figure img {
    width: 100%;
    height: 100%;
}

/* Progress Bar Style */

.tracker {
    color: var(--secondary);
    filter: drop-shadow(0px 0px 8px rgba(75, 255, 200, 0.25));
    
}

/*          Reset          */
.tracker progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    margin: 0.5rem;
  }

/*          Bar          */
.tracker progress[value]::-webkit-progress-bar {
    background-color: hsla(180, 80%, 85%, 0.75);
    backdrop-filter: blur(8px) saturate(180%);
    border-radius: 1rem; 
    filter: drop-shadow(0px 0px 8px rgba(75, 255, 201, 0.75));
    
}

/*          Progress          */
.tracker progress[value]::-webkit-progress-value {
    background-color: var(--secondary);
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 8px rgba(75, 255, 200, 0.75));
}

hr {
  border: 1px solid var(--primary);
  margin: 0.5rem 0;
}

.post img {
    width: 75%;
}

/* Footer */

#footer{
    background-color: var(--primary);
    color: var(--white);
    padding: 2.5rem 0;
}

#footer-box{
    display: flex;
    justify-content: center;
    align-content: center;
}

.links-box{
    margin-right: 1.25rem;
    max-width: 150px;
    flex-direction:column;
}

.links-box a{
    color:var(--white);
    text-decoration: none;
}
.links-box a:hover{
    color:var(--background);
    font-weight: bold;
}

#linha-vertical {
    margin: 1.25rem 0.5rem;
    height: 12rem;
    border-right: 1px solid var(--white);
}

/* Scroll Bar Styling*/

/* width */
::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--primary);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
  }