/* Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Resets and Variables*/
html{
    --primary : #E9ECEF;
    --semi-primary : #E9ECEF80;
    --secondary: #212529;
    --semi-secondary: #21252980;
    --tetiary : #495057;
    --semi-tetiary : #484f56d9;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    width: 100%;
    background-color: var(--primary);
    background: repeat url(https://thumbs.dreamstime.com/b/brotherhood-handshake-pattern-seamless-background-texture-repeat-wallpaper-geometric-vector-brotherhood-handshake-pattern-seamless-230039053.jpg);
    animation: moveIt 60s linear infinite;
}

@keyframes moveIt {
  from {background-position: bottom left;}
  to {background-position: bottom right;}
}


* {
    margin: 0;
    padding: 0;
}


/* Glass Effect */
    .blur{
        backdrop-filter: blur(8px) saturate(180%);
    }

/* Admin Header */

header {
    background-color: var(--semi-secondary);
    padding: 0.25rem;
    margin: 0 5rem;
    margin-top: 1.5rem;
    /*Flex Control */
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;

    /* Border Corners */
    border: 1px solid var(--semi-secondary);
    border-radius: 0.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;

}
header a {
    color: var(--primary);
    text-decoration: none;
}
header a:hover {
    color: rgba(250, 235, 215, 0.50);
    text-decoration: none;
    
}
.head-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.head-nav li, .foot-index li{
    display: inline;
    padding: 0.5rem;
}


/* Main Container */

.admin-container{
    margin: 0 5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--semi-tetiary);
    color: var(--primary );

    border-left: 1px solid var(--semi-tetiary);
    border-right: 1px solid var(--semi-tetiary);
}

hr {
    border: 1px solid var(--primary);
    margin: 0.5rem 0;
    align-self: center;
  }
/* Post Preview*/

.post  {
    padding: 0.5rem;
}

.post p{
    text-align: justify;
}

.post img {
    width: 25%;
    text-align: center;
}
/* Extra Preview*/
.right-content{
    display: flex;
    flex-direction: column;
}

.right-content img {
    width: 40%;
}


/* Listed Tables */

.admin-views {
    padding: 1rem;
}

.admin-views table {
    flex: 0 0 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-dark);

}
.admin-views table td{
    
    padding: 0.5rem 0.75rem;
    text-align: center;

}
.icon-col {
    width: 10%;
}

.admin-container table a{
    text-decoration: none;
    color: var(--primary);
}
.admin-container table a:visited{
    color: var(--semi-secondary);
}

.admin-container table a:hover{
    color: var(--secondary);
}


/* Login and SignUp Forms */

.foreing {
    padding: 1.5rem;
}

.foreing form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    color: var(--secondary);
}

form input , form button {
    margin: 0.5rem;
    padding: 0.25rem;
    border: 1px solid var(--semi-tetiary);
    border-radius: 0.25rem;
}

.foreing p {
    margin: 1.25rem auto ;
}

.btn-confirm {
    color: var(--semi-secondary);
    background-color: var(--primary);
    padding: 0.15rem;
}

.incorrect {
    
    flex: 0 0 100%;
    background-color: rgba(139, 0, 0, 0.65);
    color: rgb(255, 113, 113);
}

/* Admin Footer */
.admin-foot {
    display: flex;
    flex: 0 0 100%;
    background-color: var(--semi-secondary);
    margin: 0 5rem;
    box-sizing: border-box;
    height: 5rem;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid var(--semi-primary);
    border-radius: 0.75rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}
